body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: antiquewhite;
}

h2 {
    font-size: 2rem;
    color: #ff8c00;
}

p {
    margin: 0.2em;
    padding: 0;
    font-size: 1.2rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}

li button {
    font-size: 1.2rem;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li button:hover {
    background-color: #ff8c00;
    color: white;
}

li button:active {
    background-color: #ffa600;
    color: white;
}

button {
    font-family: 'Rubik', sans-serif;
}

i:hover {
    cursor: pointer;
    color: #1500ff;
}

.nav-bar:hover {
    color:#ff8c00;
}

.header-text  {
    font-size: 2.5rem;
}

.header-text,
.header-span {
    margin: 0;
    color: #ff8c00;
}

.header {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 3em 3em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 4px 15px -8px gray;
}

.nav-bar {
    color: #3f3d38;
    font-size: 1.6em;
    margin-right: 2em;
}

.nav-list {
    display: none;
    position: absolute;
    top: 110px;
    right: 85px;
}

.reveal {
    display: block;
}

.highlight-name {
    color: #ff8c00;
}

.header-span {
    font-weight: 300;
}

.main {
    position: relative;
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
}

.image-section {
    margin: 0 auto;
    width: 100%;
    height: 430px;
    background:url("images/street-food-big-burger-with-beer-wooden-background_220925-13954.webp");
    background-size: cover;
    -webkit-filter: blur(6px);
}

.text-section {
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 20px;
    left: 20px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    color:#fff200f5;
    line-height: 1.7;
}

.menu-section {
    font-family: 'Smythe', cursive;
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 350px;
    background-color: #f6dbb9;
    border-radius: 10px;
    min-width: 500px;
}

.meal-section {
    width: 100%;
    display: none;
    font-size: 1.2rem;
    color:#fff200f5;
    margin: 1em auto 1em 0;
}

.meal-ul,
.drink-ul {
    display: flex;
    flex-direction: column;
    background-color: #f6dbb9;
    width: 48%;
}

.meal-li,
.drink-li {
    margin: 0.6em auto;
    width: 95%;
}

.meal {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-img-and-info {
    display: flex;
    align-items: center;
}

.info {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.food-name {
    color: #000000;
    font-size: 1.3rem;
}

.food-price {
    color: #136c5deb;
    font-size: 1.5rem;
}

.plus-minus-ul {
    background-color: #f6dbb9;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50px;
}

.plus-minus {
    margin: auto;
    font-size: 0.9em;
    color: #000000;
    border: 1px solid black;
    border-radius: 50%;
    width: 0.2em;
    display: flex;
    justify-content: center;
}

.plus-minus:hover {
    color: #ff0000;
}

.display-menu-section {
    display: flex;
    justify-content: space-between;
}

.display-meal-section {
    display: flex;
    justify-content: space-between;
}

.display-meal-ul,
.display-drink-ul {
    display: flex;
    flex-direction: column;
}

.menu-images {
    width: 80px;
    height: 80px;
}

.basket-section {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 5em;
}

.order-section {
    width: 300px;
    margin: 2em auto;
    text-align: center;
}

.basket-ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.basket-li {
    width: 100%;
    margin-bottom: 0.8em;
}

.basket-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}

.left-section {
    display: flex;
    align-items: center;
}

.plus-minus-btns {
    font-size: 0.8em;
    margin-left: 1em;
    cursor: pointer;
}

.total-price {
    text-align: left;
}

.line {
    width: 100%;
    border-bottom: 2px solid #393333;
    margin-top: 1em;
}

.total-price-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-order-btn {
    margin-top: 1em;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1rem;
    width: 100%;
    padding: 0.8em;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1em;
    background-color: #c0baad;
    box-shadow: 0 4px 15px 8px gray;
}

.footer-links {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.links {
    display: inline-block;
    font-size: 2rem;
    margin-top: 0.5em;
}

.food-info {
    display: flex;
    flex-direction: column;
}

.menu-list-image {
    width: 60px;
    margin-right: 1em;
}

.card-section {
    display: none;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("images/pexels-photo-1841108.jpeg");
    background-size: cover;
}

.payment-list {
    padding: 0;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: none;
}

.payment-el {
    margin: 1em;
}

.input-el {
    width: 80%;
    padding: 0.5em;
}

.payment-btn {
    margin-top: 1em;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1rem;
    width: 62%;
    padding: 0.8em;
}

.blur {
    filter: blur(8px);
}

.order-message {
    text-align: center;
}